@media (max-width:768px) {
    html { font-size: 14px; }

    /* header */
    #hd { 
        width: auto; 
        .hd-nav {
            display: none;
        }

        .nav-menu-btn {
            display: block;
        }
    }

    /* home section */
    #home-section {
        h1 { 
            font-size: 6rem; 
        }

        p { 
            transform: translate(-94%, -250%); 
            font-size: 1rem;  
        }
    } 

    /* about section */
    #about-section { 
        height: 900px; 
        .about-content { 
            flex-wrap: wrap; 
            .left-container { 
                width: 100%; 
                .photo-img { 
                    width: 150px; 
                    height: 150px;
                }
            }

            .right-container { 
                width: 100%; 
                margin-left: 30px; 
                padding-right: 30px;
            }
        }
    }

    /* skill section */
    #skill-section { 
        height: 900px; 
        .skill-content { 
            margin-left: 30px; 
            padding-right: 30px; 
        } 
    }

    /* pb section */
    #pb-section {
        .pb-content {
            ul {
                li {
                    margin-left: 10px; 
                    margin-right: 10px;
                }
            }

            .pb-pf-container {
                img { 
                    width: 250px; 
                }

                .link-box {
                    span {
                        line-height: 2.2;
                    }
                }
            }
        }
    }
    
    /* outro */
    #outro-section {
        h2 { 
            font-size: 2.5rem; 
        }
    } 
    
    /* footer */
    footer {
        p { 
            font-size: 0.7rem; 
        }
    }
}

@media (min-width:769px) {
    html { font-size: 16px; }

    /* header */
    #hd { 
        width: 100%; 
        .hd-nav {
            display: block;
        }

        .nav-menu-btn {
            display: none;
        }
    }

    /* home section */
    #home-section {
        h1 { 
            font-size: 10rem; 
        }

        p { 
            transform: translate(-130%, -310%); 
            font-size: 1.2rem;  
        }
    } 

    /* about section */
    #about-section { 
        height: 800px; 
        .about-content { 
            flex-wrap: nowrap; 
            .left-container { 
                width: 30%; 
                .photo-img { 
                    width: 200px; 
                    height: 200px;
                }
            }

            .right-container { 
                width: 50%; 
                margin-left: 100px; 
                padding-right: 0;
            }
        }
    }

    /* skill section */
    #skill-section { 
        height: 800px; 
        .skill-content { 
            margin-left: 150px; 
            padding-right: 0; 
        } 
    }

    /* pb section */
    #pb-section {
        .pb-content {
            ul {
                li {
                    margin-left: 20px; 
                    margin-right: 20px;
                }
            }

            .pb-pf-container {
                img { 
                    width: 300px; 
                }

                .link-box {
                    span {
                        line-height: 1.8;
                    }
                }
            }
        }
    }
    
    /* outro */
    #outro-section {
        h2 { 
            font-size: 5rem; 
        }
    } 
    
    /* footer */
    footer {
        p { 
            font-size: 0.8rem; 
        }
    }
}