@media (max-width:768px) {
    html { font-size: 14px; }

    /* header */
    header { width: auto; }
    header > nav { display: none; }
    header > #nav-menu-btn { display: block; }

    /* home section */
    #home-section > p { transform: translate(-94%, -250%); font-size: 1rem;  }
    #home-section > h1 { font-size: 6rem; }

    /* about section */
    #about-section { height: 1000px; }
    #about-section > #about-content { flex-wrap: wrap; }
    #about-section > #about-content > .left-container { width: 100%; }
    #about-section > #about-content > .left-container > #photo-img { width: 150px; height: 150px; }
    #about-section > #about-content > .right-container { width: 100%; margin-left: 30px; padding-right: 30px; }

    /* skill section */
    #skill-section { height: 900px; }
    #skill-section > #skill-content { margin-left: 30px; padding-right: 30px; }
    #skill-section > #skill-content .skill-tag-box { line-height: 3; }

    /* pb section */
    #pb-section > #pb-content > ul li { margin-left: 10px; margin-right: 10px; }
    #pb-section > #pb-content > .pb-pf-container img { width: 250px; }
    #pb-section > #pb-content > .pb-pf-container > .link-box > span { line-height: 2.2; }

    /* outro */
    #outro-section > h2 { font-size: 2.5rem; }
    footer > p { font-size: 0.7rem; }
}

@media (min-width:768px) {
    html { font-size: 16px; }

    /* header */
    header { width: 100%; }
    header > nav { display: block; }
    header > #nav-menu-btn { display: none; }

    /* home section */
    #skill-section { height: 800px; }
    #home-section > p { transform: translate(-130%, -310%); font-size: 1.2rem; }
    #home-section > h1 { font-size: 10rem; }

    /* about section */
    #about-section { height: 800px; }
    #about-section > #about-content { flex-wrap: nowrap; }
    #about-section > #about-content > .left-container { width: 30%; }
    #about-section > #about-content > .left-container > #photo-img { width: 200px; height: 200px; }
    #about-section > #about-content > .right-container { width: 50%; margin-left: 100px; padding-right: 0; }

    /* skill section */
    #skill-section > #skill-content { margin-left: 150px; padding-right: 0; }
    #skill-section > #skill-content .skill-tag-box { line-height: 3; }

    /* pb section */
    #pb-section > #pb-content > ul li { margin-left: 10px; margin-right: 10px; }
    #pb-section > #pb-content > .pb-pf-container img { width: 300px; }
    #pb-section > #pb-content > .pb-pf-container > .link-box > span { line-height: 1.8; }

    /* outro */
    #outro-section > h2 { font-size: 5rem; }
    footer > p { font-size: 0.8rem; }
}