@media (max-width:768px) {
    html { font-size: 14px; }

    /* header */
    #hd { 
        width: auto; 
        .hd-nav {
            display: none;
        }

        .nav-menu-btn {
            display: block;
        }
    }

    /* home section */
    #home-section {
        h1 { 
            font-size: 6rem; 
        }

        p { 
            transform: translate(-94%, -250%); 
            font-size: 1rem;  
        }
    } 

    /* about section */
    #about-section { 
        height: 900px; 
        .about-content { 
            flex-wrap: wrap; 
            .left-container { 
                width: 100%; 
                .photo-img { 
                    width: 150px; 
                    height: 150px;
                }
            }

            .right-container { 
                width: 100%; 
                margin-left: 30px; 
                padding-right: 30px;
            }
        }
    }

    /* skill section */
    #skill-section { 
        height: 900px; 
        .skill-content { 
            margin-left: 30px; 
            padding-right: 30px; 
        } 
    }

    /* pb section */
    #pb-section {
        .pb-content {
            justify-content: center;
            width: 510px;
            .pb-item {
                width: 150px;
                height: 200px;
                .desc {
                    top: 155px;
                    height: 100%;
                    &:hover {
                        top: 0;
                    }
                    p {
                        &:nth-child(1) {
                            font-size: 16px;
                        }
                        &:nth-child(2) {
                            font-size: 12px;
                        }
                    }
                    div {
                        bottom: 10px;
                        width: 70px;
                    }
                }
            }
            
        }
    }
    
    /* outro */
    #outro-section {
        h2 { 
            font-size: 2.5rem; 
        }
    } 
    
    /* footer */
    footer {
        p { 
            font-size: 0.7rem; 
        }
    }
}