@import "keyframes.css";
body {
  overflow-y: scroll;
  margin: 0;
  font-family: "Saira Condensed", "Noto Sans KR", sans-serif;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.opacity-0 {
  opacity: 0;
}

.font-weight-600 {
  font-weight: 600;
}

#web-container {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.section-inner {
  text-align: center;
}

.sub-title {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  font-size: 2rem;
  color: #0B173B;
}

.bg-video {
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
}

/* header */
#hd {
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
#hd .hd-nav {
  height: 60px;
}
#hd .hd-nav ul {
  right: 5%;
  display: flex;
  justify-content: space-between;
  width: 400px;
  background-color: transparent;
  list-style: none;
  padding-inline-start: 0;
}
#hd .hd-nav ul li {
  font-size: 1.2rem;
  color: #FFF;
  cursor: pointer;
}
#hd .nav-menu-btn {
  z-index: 1001;
  position: absolute;
  display: none;
  top: 30px;
  right: 20px;
  width: 24px;
  cursor: pointer;
}
#hd .nav-menu-btn .mnb-line {
  content: "";
  display: block;
  background-color: #FFF;
  height: 2px;
  margin: 8px 0;
}

/* mobile menu */
#as {
  display: none;
}
#as .mobile-nav-menu-container {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#as .mobile-nav-menu-container .as-nav ul {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  align-items: center;
  padding-inline-start: 0;
}
#as .mobile-nav-menu-container .as-nav ul li {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  color: #FFF;
  font-size: 1.8rem;
  opacity: 0.9;
}

/* home section */
#home-section {
  overflow: hidden;
}
#home-section p {
  top: 50%;
  left: 50%;
  transform: translate(-130%, -310%);
  margin: 0;
  font-size: 1.2rem;
  color: #FFF;
  white-space: nowrap;
}
#home-section h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 10rem;
  color: #FFF;
}

/* about section */
#about-section {
  height: 800px;
}
#about-section .about-content {
  top: 50%;
  transform: translate(0%, -50%);
  justify-content: center;
  align-items: center;
  height: 70%;
}
#about-section .about-content .left-container {
  width: 30%;
}
#about-section .about-content .left-container .photo-img {
  margin: auto;
  width: 200px;
  height: 200px;
  background: url(/resource/index/image/myprofile.jpg) no-repeat center/100% transparent;
  border-radius: 50%;
}
#about-section .about-content .right-container {
  width: 50%;
  margin-left: 100px;
}
#about-section .about-content .right-container dl {
  display: inline-block;
}
#about-section .about-content .right-container dl dt {
  float: left;
  clear: both;
  width: 120px;
  margin-bottom: 5px;
  font-weight: 600;
}
#about-section .about-content .right-container dl dd {
  float: left;
  margin-left: 0;
  margin-bottom: 5px;
  color: #555;
}
#about-section .about-content .right-container .introduce p {
  color: #555;
}

/* skill section */
#skill-section {
  height: 800px;
  margin-bottom: 200px;
}
#skill-section .skill-content {
  top: 50%;
  transform: translate(0%, -50%);
  margin-left: 150px;
}
#skill-section .skill-content ul {
  padding-inline-start: 18px;
  line-height: 2;
}
#skill-section .skill-content ul li {
  list-style: square;
  color: #555;
}
#skill-section .skill-content ul li::marker {
  color: #0B173B;
}
#skill-section .skill-content .skill-tag-box {
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 3;
}
#skill-section .skill-content .skill-tag-box span {
  margin-right: 20px;
  padding: 0.2rem 1.1rem;
  font-size: 0.9rem;
  color: #FFF;
  background-color: #0B173B;
  border-radius: 10rem;
}

/* pb section */
#pb-section {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}
#pb-section .pb-content {
  display: flex;
  flex-wrap: wrap;
  width: 810px;
}
#pb-section .pb-content h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#pb-section .pb-content .pb-item {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 300px;
  margin: 10px;
  border: 1px solid #9e9e9e;
}
#pb-section .pb-content .pb-item img {
  width: 100%;
  height: 100%;
}
#pb-section .pb-content .pb-item .desc {
  position: absolute;
  top: 247px;
  left: 0;
  width: 100%;
  height: 70%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}
#pb-section .pb-content .pb-item .desc:hover {
  top: 90px;
}
#pb-section .pb-content .pb-item .desc p, #pb-section .pb-content .pb-item .desc div {
  margin: 0;
  color: #fff;
}
#pb-section .pb-content .pb-item .desc p:nth-child(1), #pb-section .pb-content .pb-item .desc div:nth-child(1) {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}
#pb-section .pb-content .pb-item .desc p:nth-child(2), #pb-section .pb-content .pb-item .desc div:nth-child(2) {
  font-size: 14px;
}
#pb-section .pb-content .pb-item .desc div {
  position: absolute;
  width: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}
#pb-section .pb-content .pb-item .desc div:hover {
  color: #000;
  background-color: #fff;
}

/* outro */
#outro-section {
  overflow: hidden;
}
#outro-section h2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 5rem;
  white-space: nowrap;
  color: #FFF;
}

/* footer */
footer {
  bottom: 0;
  text-align: center;
}
footer p {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  color: #FFF;
}

/* modal */
iframe {
  width: 100%;
  height: 100%;
  background-color: #FFF;
  border: none;
}

.web-page-modal {
  z-index: 9000;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  animation: modalFadeIn 0.5s ease-out;
}
.web-page-modal .web-page-modal-close-btn {
  z-index: 9001;
  position: fixed;
  top: 15px;
  left: 20px;
  width: 36px;
  height: 36px;
  font-size: 2rem;
  color: #FFF;
  text-align: center;
  line-height: 1.2;
  background-color: #222;
  border-radius: 100%;
  cursor: pointer;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  /* header */
  #hd {
    width: auto;
  }
  #hd .hd-nav {
    display: none;
  }
  #hd .nav-menu-btn {
    display: block;
  }
  /* home section */
  #home-section h1 {
    font-size: 6rem;
  }
  #home-section p {
    transform: translate(-94%, -250%);
    font-size: 1rem;
  }
  /* about section */
  #about-section {
    height: 900px;
  }
  #about-section .about-content {
    flex-wrap: wrap;
  }
  #about-section .about-content .left-container {
    width: 100%;
  }
  #about-section .about-content .left-container .photo-img {
    width: 150px;
    height: 150px;
  }
  #about-section .about-content .right-container {
    width: 100%;
    margin-left: 30px;
    padding-right: 30px;
  }
  /* skill section */
  #skill-section {
    height: 900px;
  }
  #skill-section .skill-content {
    margin-left: 30px;
    padding-right: 30px;
  }
  /* pb section */
  #pb-section .pb-content {
    width: 510px;
  }
  #pb-section .pb-content .pb-item {
    width: 150px;
    height: 200px;
  }
  #pb-section .pb-content .pb-item .desc {
    top: 155px;
    height: 100%;
  }
  #pb-section .pb-content .pb-item .desc:hover {
    top: 0;
  }
  #pb-section .pb-content .pb-item .desc p:nth-child(1) {
    font-size: 16px;
  }
  #pb-section .pb-content .pb-item .desc p:nth-child(2) {
    font-size: 12px;
  }
  #pb-section .pb-content .pb-item .desc div {
    bottom: 10px;
    width: 70px;
  }
  /* outro */
  #outro-section h2 {
    font-size: 2.5rem;
  }
  /* footer */
  footer p {
    font-size: 0.7rem;
  }
}
@media (min-width: 769px) {
  html {
    font-size: 16px;
  }
  /* header */
  #hd {
    width: 100%;
  }
  #hd .hd-nav {
    display: block;
  }
  #hd .nav-menu-btn {
    display: none;
  }
  /* home section */
  #home-section h1 {
    font-size: 10rem;
  }
  #home-section p {
    transform: translate(-130%, -310%);
    font-size: 1.2rem;
  }
  /* about section */
  #about-section {
    height: 800px;
  }
  #about-section .about-content {
    flex-wrap: nowrap;
  }
  #about-section .about-content .left-container {
    width: 30%;
  }
  #about-section .about-content .left-container .photo-img {
    width: 200px;
    height: 200px;
  }
  #about-section .about-content .right-container {
    width: 50%;
    margin-left: 100px;
    padding-right: 0;
  }
  /* skill section */
  #skill-section {
    height: 800px;
  }
  #skill-section .skill-content {
    margin-left: 150px;
    padding-right: 0;
  }
  /* outro */
  #outro-section h2 {
    font-size: 5rem;
  }
  /* footer */
  footer p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=common.css.map */